<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>ヴァイオレット</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <h1>ヴァイオレット</h1>
    <div class="cover"></div>
    <p class="welcome">Welcome to Violet's Website</p>
    <div class="container">
      <div class="circle-img"></div>
      <p class="intro">Violet is a multifunctional bot created by FebryanS (Shinomiya#2049)</p>
      <a href="{{rep_url}}">Violet's Repository</a>
    </div>
    <p class="social">
      My Creator's SNS<br>
      <a href="{{g_url}}">• GitHub</a><br>
      <a href="{{t_url}}">• Twitter</a><br>
      • Discord: Shinomiya#2409
    </p>
    <p class="desc">
      Violet can do everything you want, at least that's what my creator aims<br>
      If you have some ideas to share, feel free to DM my creator (Shinomiya#2409)<br>
      <br>
      Sincerely,<br>
      ヴァイオレット
    </p>
    <p>
      <author>2023@FebryanS</author>
    </p>
  </header>
</body>
</html>
